---
import Footer from "../components/Footer.astro";
import Hamburger from "../components/Hamburger.astro";
import Navigation from "../components/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/126624-medium.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Brendan Murphy</title>
  </head>
  <body>
    <Navigation />
    <h1 class="text-5xl text-red-500 container flex flex-wrap mx-auto h-screen">
      Astro
    </h1>
    <Footer />
  </body>
</html>
