---
import Social from "./Social.astro";

const platform = "github";
const username = "withastro";
---

<footer class="bg-zinc-100">
  <div class="container columns-1 mx-auto">
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </div>
</footer>
