---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

  <div class="md:m-10 m-4">
    <p><em>{frontmatter.description}</em></p>
    <article class="prose lg:prose-xl">
      <slot />
    </article>
  </div>
