<div
  class="relative h-full md:w-3/4 w-auto bg-zinc-200 md:m-10 m-4 justify-start rounded shadow-lg p-4"
>
  <p class="text-2xl text-left pb-4 font-bold">About Me</p>
  <div class="flex md:flex-row flex-col justify-center mb-2">
    <div class="text-lg">
      Highly skilled and experienced web developer with expertise in React, C#,
      and Azure. Adept at creating dynamic and responsive web applications with
      clean and efficient code. Passionate about developing high-quality
      software solutions that meet the needs of clients and end-users.
    </div>
  </div>
  <div class="flex md:flex-row flex-col">
    <div class="bg-purple-300 md:w-1/2 w-full m-2">
      <div class="m-2 flex flex-row">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8"
          ><path
            d="M16 3.383l-.924-.383-7.297 17.617.924.383 7.297-17.617zm.287 3.617l6.153 4.825-6.173 5.175.678.737 7.055-5.912-7.048-5.578-.665.753zm-8.478 0l-6.249 4.825 6.003 5.175-.679.737-6.884-5.912 7.144-5.578.665.753z"
          ></path></svg
        >
        Code
      </div>
      <div class="m-2">
        As a developer, I have a diverse range of experience working with
        multiple tech stacks. I pride myself on my ability to quickly learn and
        adapt to new technologies, which allows me to work effectively with a
        wide variety of clients. I have extensive experience with multiple
        frameworks such as React, Angular, and Astro. I am confident in my
        ability to pick up new front-end frameworks quickly. , I have experience
        working with back-end technologies such as .NET APIs and
        JavaScript-based back-ends like Express. Whether you're looking for a
        developer with specific expertise or someone who can adapt to your
        unique needs, I am confident that I can help.
      </div>
    </div>
    <div class="bg-orange-300 md:w-1/2 w-full m-2">
      <div class="m-2 flex flex-row">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M18.5 20h-13c-2.481 0-4.5-2.019-4.5-4.5 0-2.178 1.555-4.038 3.698-4.424l.779-.14.043-.79c.185-3.447 3.031-6.146 6.48-6.146 3.449 0 6.295 2.699 6.479 6.146l.043.79.78.14c2.142.386 3.698 2.246 3.698 4.424 0 2.481-2.019 4.5-4.5 4.5m.979-9.908c-.212-3.951-3.473-7.092-7.479-7.092s-7.267 3.141-7.479 7.092c-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408"
          ></path></svg
        >
        Cloud
      </div>
      <div class="m-2">
        I have extensive experience working in the cloud, particularly in
        Microsoft Azure. I have developed multiple projects in Azure, which has
        given me a deep understanding of its capabilities and how to use it
        effectively. In addition, I have experience working with Infrastructure
        as Code (IaC) solutions like Terraform. This allows me to quickly and
        efficiently deploy infrastructure and manage resources in the cloud,
        resulting in more reliable and scalable solutions.
      </div>
    </div>
  </div>
  <div class="flex md:flex-row flex-col w-full">
    <div class="bg-blue-300 md:w-1/2 w-full m-2">
      <div class="m-2 flex flex-row">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8"
          ><path
            d="M20.759 20.498l-3.743-7.856c-1.041-2.186-2.016-4.581-2.016-7.007v-2.635h-2c0 3.391-.083 5.188 2.21 10.502l3.743 7.854c.143.302-.068.644-.377.644h-1.246l-4.88-10h-2.984c1.795-4.183 1.528-5.963 1.534-9h-2v2.635c0 2.426-.975 4.82-2.016 7.006l-3.743 7.856c-.165.348-.241.708-.241 1.058 0 1.283 1.023 2.445 2.423 2.445h13.153c1.4 0 2.424-1.162 2.424-2.446 0-.35-.076-.709-.241-1.056zm-13.259 1.502c-.829 0-1.5-.671-1.5-1.5s.671-1.5 1.5-1.5 1.5.671 1.5 1.5-.671 1.5-1.5 1.5zm2.5-4c-.553 0-1-.447-1-1 0-.553.447-1 1-1 .552 0 1 .447 1 1 0 .553-.448 1-1 1zm3 3c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1zm-5-20c0-.552.448-1 1-1h6c.553 0 1 .448 1 1s-.447 1-1 1h-6c-.552 0-1-.448-1-1z"
          ></path></svg
        >
        Testing
      </div>
      <div class="m-2">
        I believe that testing is an essential part of the software development
        process. I have extensive experience in writing and implementing both
        unit tests and integration tests. I am proficient in using popular
        testing frameworks such as xunit and TestCafe to ensure that the code
        meets the desired specifications and functionality. In addition, I have
        developed comprehensive testing plans for projects that I have worked
        on. These plans cover various scenarios and test cases, ensuring that
        the software is thoroughly tested and meets the client's requirements.
      </div>
    </div>
    <div class="bg-green-300 md:w-1/2 w-full m-2">
      <div class="m-2 flex flex-row">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M12 1c-6.338 0-12 4.226-12 10.007 0 2.05.739 4.063 2.047 5.625l-1.993 6.368 6.946-3c1.705.439 3.334.641 4.864.641 7.174 0 12.136-4.439 12.136-9.634 0-5.812-5.701-10.007-12-10.007m0 1c6.065 0 11 4.041 11 9.007 0 4.922-4.787 8.634-11.136 8.634-1.881 0-3.401-.299-4.946-.695l-5.258 2.271 1.505-4.808c-1.308-1.564-2.165-3.128-2.165-5.402 0-4.966 4.935-9.007 11-9.007"
          ></path></svg
        >
        Consultanting
      </div>
      <div class="m-2">
        As a consultant, I bring a wealth of experience to the table. I have
        worked with clients of all sizes, from small businesses to large
        corporations, and I understand that each client has unique needs. As a
        consultant, I bring a wealth of experience to the table. I have worked
        with clients of all sizes, from small businesses to large corporations,
        and I understand that each client has unique needs.
      </div>
    </div>
  </div>
</div>
