---
// Import any necessary icon components or libraries
import { Icon } from "astro-icon";

const technologies = [
  { name: "React", icon: "/icons/react.svg" },
  { name: "Next.js", icon: "/icons/next-js.png" },
  { name: "Astro", icon: "/icons/Astro.svg" },
  { name: "Azure", icon: "/icons/microsoft-azure.svg" },
  { name: "C#", icon: "/icons/Csharp.svg" },
  { name: "Angular", icon: "/icons/Angular.svg" },
  { name: "Node", icon: "/icons/Node.js.svg" },
  { name: "Postgres", icon: "/icons/PostgresSQL.svg" },
  { name: "Tailwind", icon: "/icons/Tailwind CSS.svg" },
  { name: "Typescript", icon: "/icons/TypeScript.svg" },
  { name: "Azure Function", icon: "/icons/azure-function.svg" },
  { name: "Terraform", icon: "/icons/terraform.svg" },
];
---

<div
  class="relative h-full md:w-3/4 w-auto bg-zinc-200 md:m-10 m-4 justify-start rounded shadow-lg p-4"
>
  <p class="text-2xl text-left pb-4 font-bold">About Me</p>
  <div class="flex md:flex-row flex-col justify-center mb-2">
    <div class="text-lg">
      Life long learner who loves spending time playing and building with tech!
      I've been delivery high quality tech professionally for over 3 years now.
      My main professional experience has been using C#, Angular, and Azure. But
      I have been able to create great solutions with a variety of technologies.
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {
      technologies.map((tech) => (
        <div class="flex items-center space-x-4">
          <img
            src={tech.icon}
            alt={`${tech.name} icon`}
            width={48}
            height={48}
            class="w-12 h-12"
          />
          <span class="text-lg font-semibold">{tech.name}</span>
        </div>
      ))
    }
  </div>
</div>
