<div class="flex justify-center">
  <div class="flex justify-center py-8">
    <div
      class="relative w-80 h-80 rounded-full bg-gradient-to-br from-blue-400 to-green-400 flex items-center justify-center"
    >
      <svg
        viewBox="0 0 100 100"
        class="absolute w-full h-full animate-spin-slow"
      >
        <defs>
          <path
            id="circlePath"
            d="M50,50 m-40,0 a40,40 0 1,1 80,0 a40,40 0 1,1 -80,0"
            fill="none"></path>
        </defs>
        <text font-size="8" fill="black" font-weight="bold">
          <textPath href="#circlePath" startOffset="50%" text-anchor="middle">
            Nice to see you, stay awhile
          </textPath>
        </text>
      </svg>

      <img class="absolute w-32 h-32" src="/profile.png" />
    </div>
  </div>
  <div class="-ml-4 flex-1 flex flex-col items-start space-y-8 mt-8">
    <div>
      <h1 class="text-2xl font-bold -ml-14">Thanks for stopping in!</h1>
      <p class="mt-2 -ml-4">My name is Brendan</p>
      <p class="mt-2 ml-1">software engineer</p>
      <p class="mt-2 ml-4">trying to build cool things</p>
      <p class="mt-2 ml-6">Check out some of my stuff</p>
      <div class="mt-2 ml-5 underline cursor-pointer">
        <a href="/blog">Blogs</a>
      </div>
      <div class="mt-2 ml-3 underline cursor-pointer">
        <a href="/portfolio">Projects</a>
      </div>
      <div class="mt-2 ml-1 underline cursor-pointer">
        <a href="mailto:bmurf17@gmail.com">Contact</a>
      </div>
    </div>
  </div>
</div>
